<header class="p-3 bg-dark text-white">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <div
        class="d-flex flex-wrap align-items-end nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="50"
          height="50"
          fill="currentColor"
          class="bi bi-card-checklist"
          viewBox="0 0 16 16"
        >
          <path
            d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"
          />
          <path
            d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0M7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0"
          />
        </svg>
        <p class="mx-2">QUIZ APP</p>
      </div>

      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li>
          <a
            [routerLink]="['/login']"
            routerLinkActive="router-link-active"
            class="nav-link px-2 text-white"
            >Home</a
          >
        </li>
        <li>
          <a [routerLink]="['/quizPage']" class="nav-link px-2 text-white"
            >Quiz</a
          >
        </li>
        <li>
          <a [routerLink]="['/result']" class="nav-link px-2 text-white"
            >Result</a
          >
        </li>
        <li>
          <a [routerLink]="['/login']" class="nav-link px-2 text-white"
            >Contact US</a
          >
        </li>
        <li>
          <a [routerLink]="['/login']" class="nav-link px-2 text-white"
            >About</a
          >
        </li>
      </ul>
      <div class="text-end">
        @if(isLoggedIn()){
        <ng-container>
          <button
            type="button"
            class="btn btn-outline-light me-2"
            (click)="onLogOut()"
          >
            LogOut
          </button>
        </ng-container>
        } @else{
        <ng-container>
          <button type="button" class="btn btn-outline-light me-2">
            Login
          </button>
          <button type="button" class="btn btn-warning">Sign-up</button>
        </ng-container>
        }
      </div>
    </div>
  </div>
</header>
